/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:after, *:before{
    box-sizing: border-box;
}
/* RESET */

/* HEADER */

.header{
    padding: 22px 0;
}
.nav-header{
    margin: auto;
    padding: 0 2em;
    display: flex;
}

.nav-header .figure{
    background-color: #888;
    width: 226.88px;
    height: 82.5px;
    margin-top: 33px;
    /* margin: 50px 15px 50px 0; */
    
}

.nav-header .nav-item{
    background-color: #999;
    width: 220.2px;
    height: 171.64px;
    padding: 13.2px;
    margin: 0 0 -4px;
}

.nav-header>div:last-child{
    background-color: #888;
    width: 133.75px;
    height: 53.5px;
    margin: 43.3px 0 0;
    padding: 11.76px 10.7px 11.76px 14.98px;
}

.nav-item .content{
    width: 193.83px;
    height: 145.27px;
    background: #555;
}
/* HEADER */

/* SECTION */

.section{
    clear:both;
}
.section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 50%;
    display: inline-block;
    background-color: #aaa;
    padding: 15.68% 5% 10.97% 5%;
}

.col div{
    height: 34.76rem;
    background: #666;
}

.sm-col{
    padding-top: 66px;
}

.sm-col div{
    height: 28rem;
}

.h1-title{
    width: 100%;
    height: 142px;
    position: absolute;
    padding-top: 50px;
    
}
.h1-title div:first-child{
    height: 90px;
    width: 315px;
    background: #333;
    margin: auto;
}

.float-button{
    background: #555;
    position: absolute;
    top: 60px;
    right: 23px;
    width: 243px;
    height: 60px;
}

/* latest posts */
.row{
    display: flex;
    padding: 0 10px;
}
.col-1-4{
    background-color: #999;
    width: 25%;
    height: 22rem;
    display: inline-block;
    margin-left: 35px;
    margin-top: 30px;
    margin-right: 16px;
    margin-bottom: 30px;
    
}

.col-2-4{
    width: 50%;
    height: 28rem;
    background-color: #333;
    margin-top: 30px;
}
.last-bold>div:last-child{
    background-color: #ccc;
}
.last-bold>div:last-child div{
    background-color: #444;
    height: 100px;
    margin: 20px 20px 0 35px;

}

/* articles separator */
.articles-separator{
    height: 160px;
    padding: 65px 0;
}
.articles-separator>div{
    width: 200px;
    height: 36px;
    margin: auto;
    background-color: #666;
}

/* coming up next */
.comming-up-next{
    height: 952px;
    
}

.comming-up-next>div{
    margin: 0 auto;
    background: #ddd;
    padding-top: 77px;
}

.comming-date{
    height: 20px;
    width: 270px;
    background-color: #999;
    margin: 0 auto 30px auto;
}
.comming-title{
    height: 40px;
    width: 515px;
    background-color: #333;
    margin: 0px auto 25px auto;
}
.comming-paragraph{
    height: 130px;
    width: 700px;
    background-color: #888;
    margin: 0px auto 25px auto;
}
.comming-bottom{
    background: #444;
    width: 405px;
    height: 60px;
    background-color: #333;
    margin: 0px auto 25px auto;
}
.comming-image{
    background: #444;
    width: 700px;
    height: 512px;
    background-color: #777;
    margin: 0px auto 25px auto;
}

/* COMUNITY LINKS */
.community>div>div{
    height: 200px;
    margin: 40px 20px 20px 30px;
}
.person-image{
    background-color: #444;
}
.community>div>div:last-child, .community .community-rows>div{
    background-color: #999;
}

/* COMUNITY LINKS */

/* featured book */
.featured-book{
    background-color: #777;
    height: 437px;
}

/*  */

.col-4-4{
    width: 100%;
    height: 977px;
    background: #555;
    margin-left: 35px;
    margin-right: 16px;
}